 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-bitbucket-plain-wordmark colored"></i>
      <p>I enjoy using Linux and Git to develop with ROS and RTI DDS.</p>
      <p>I've become proficient at Agile methodolgies through experiences with GitLab, Bitbucket, Jira, and Confluence.</p>
    </div>
    <div class="tech">
      <h2>Experience</h2>
      <img alt="Aurora Flight Sciences" src="{{ "/assets/img/flight_test_2.jpg" | prepend: site.baseurl }}" />
      <p>I currently work at Aurora Flight Sciences, A Boeing Company, making autonomous aircraft.<p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-cplusplus-plain colored"></i><i class="devicon-java-plain-wordmark colored"></i><i class="devicon-python-plain-wordmark colored"></i>
      <p>C++  |  Java  |  Python</p>
      <p>Matlab  |  Simulink</p>
      <p>I love learning new languages.</p>
      <p>My attention to detail and intense focus allow me to grasp new skills quickly.</p>
    </div>
</div>
