<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Search & Rescue Robot</h3>
    <p>Harper is a simulated search and rescue robot that uses path planning algorithms, LiDAR and SLAM to rescue survivors.</p>
    <a class="project-link" href="#">Video coming soon!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Duckiebot Autonomous Vehicle</h3>
    <p>Howard uses computer vision to detect lanes, stop at intersections, and go around obstacles.</p>
    <a class="project-link" href="#">Check it out - Video</a>
  </div>
</div>
